<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tianfangIMS.im">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /><!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /><!-- 写入通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--获取联系人信息，demo中演示发送通讯录消息-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--用于悬浮球点击HOME按键退出之后显示与周末的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".TianFangIMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label,theme">

        <activity android:name=".activity.Login_Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name=".activity.UserInfo_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.Settings_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.NewMessageNotice_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.ResetPassword_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.MineGroupActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.Contacts_DepartmentActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.Contacts_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.GetVerificationCode_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.DepartmentPerson_Activity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.GroupDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.PrivateChatDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".activity.DiscussionDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity android:name=".activity.AddTopContacts_Activity" android:theme="@style/Anim_fade">

        </activity>
        <activity android:name=".activity.MineTopContactsActivity">

        </activity>
        <activity android:name=".activity.AddGroupActivity" android:theme="@style/Anim_fade">

        </activity>
        <activity android:name=".activity.SelectPhoteActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.TreeActivity" />
        <activity android:name=".activity.Group_AddTopContactsActivity" />
        <activity android:name=".activity.InfoActivity" />
        <activity android:name=".activity.SearchActivity" />
        <!--会话页面-->
        <activity
            android:name="com.tianfangIMS.im.activity.ConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.action.MY_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.tianfangIMS.im"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--含有ViewPager的Activity-->
        <activity android:name=".activity.ConversationViewpagerActivity">

        </activity>
        <activity android:name=".activity.SearchChattingDetailActivity" />
        <activity android:name=".activity.ChangeGroupNameActivity" />
        <activity android:name=".activity.AMapShareActivity" />
        <!--聚合会话-->
        <activity
            android:name=".activity.SubConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.tianfangIMS.im"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SearchGroupActivity" />
        <activity android:name=".activity.FriendPersonInfoActivity" />
        <activity android:name=".activity.SendMessageActivity" />
        <activity android:name=".activity.SearchAllContactsActivity" />
        <activity android:name=".activity.MoveGroupUserActivity" />
        <activity android:name=".activity.DeleteGropUserActivity" />
        <!-- GCM 配置结束 < -->
        <!--适配7.0调用相机问题-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tianfangIMS.im.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!--配置APPKey-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="m7ua80guyso7u" />

        <!-- 120:m7ua80guyso7u   35: e5t4ouvpe564a ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing. See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->
        <!--配置高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d23e3db8d2b5c453e35e0bc37a1bc37a" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!--悬浮权限-->
        <service android:name=".service.FloatService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<receiver-->
        <!--android:name=".receiver.SealNotificationReceiver"-->
        <!--android:exported="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />-->
        <!--<action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />-->
        <!--<action android:name="io.rong.push.intent.MESSAGE_CLICKED" />-->
        <!--<action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>
