<?xml version="1.0" encoding="UTF-8"?>
<!--<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
   <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    
    <filter>  
	    <filter-name>CORSFilter</filter-name>  
	    <filter-class>com.organ.action.filter.CROSFilter</filter-class>  
	</filter>
	
	<filter>  
	    <filter-name>ContentTypeFilter</filter-name>  
	    <filter-class>com.organ.action.filter.ContentTypeFilter</filter-class>  
	</filter>
    
    <!-- 设置Spring IOC容器:WebApplicationContext -->
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
	    	classpath:spring.xml,
	    	classpath:admin.xml,
	    	classpath:member.xml,
		    classpath:privilege.xml,
	    	classpath:system.xml,
	    	classpath:group.xml,
	    	classpath:auth.xml,
	    	classpath:limit.xml,
	    	classpath:abutment.xml
	    </param-value>
	</context-param>
	
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
    	<servlet-name>admlogo</servlet-name>
    	<servlet-class>com.organ.action.adm.LogoServlet</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>admimp</servlet-name>
    	<servlet-class>com.organ.action.adm.ImpServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>admlogo</servlet-name>
		<url-pattern>/admlogo</url-pattern>
	</servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>admimp</servlet-name>
		<url-pattern>/admimp</url-pattern>
	</servlet-mapping>

    <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>

