@charset "utf-8";

#TestInput
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* for at message */
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #a9a9a9;
    position:absolute;
    top:6px;
}
* {
    padding: 0;
    margin: 0;
}

html{

    height: 100%;
}
body{
    height: 100%;
    min-width: 1000px;
    background: url("img/webBg_new.jpg") no-repeat;
    /*background-size: 100%;*/
}
.header, .box_hd, .LeftNav, .drag_area{
    -webkit-app-region: drag;    /* for pc client */
}
button, input, select, textarea, #message-content, #Messages /* for pc client */
{
    -webkit-app-region: no-drag;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

font {
    font-size: 12px;
}

/** 设置默认字体 **/
body,
button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-family: 'PingFangSC-Medium', 'Microsoft YaHei', sans-serif;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

/* outline去除FF浏览器里的链接虚线 */
a:hover, a:link, a:visited, a:focus, a:active {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

/* 重置，减少对行高的影响 */
sub {
    vertical-align: text-bottom;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input::-ms-clear{display:none;}
/*
	------------Reset   End--------------
*/


.signin-bg{
    height: 100%;
    width: 100%;
    /*background: url("img/webBg_new.jpg") no-repeat;*/
}
.signin-logo{
    width: 100%;
    line-height: 90px;
    padding-top: 140px;
    /*background: red;*/
}
.signin-logo .main{
    width: 410px;
    margin: 0 auto;
    margin-bottom: 76px;
    /* height: 300px; */
}
.form-control-my{
}
.signin-logo .main a{
    font-family: "Microsoft Yahei", Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    display: block;
    line-height: 48px;
    font-size: 30px;
    height: 48px;
    margin-left: 26px;
    padding-left: 23px;
}
.signin-logo .main a:nth-child(1){
    border-left: 2px solid #30c0da;
}
.signin-logo .main a:nth-child(2){
    border-left: 2px solid #4d4d4d;
}
.signin-logo .main a:nth-child(1) span {
    color: #30c0da;
}
.signin-form{
    width: 100%;
    height: 590px;
    /* background: url(img/webBg.png) 0 0/10px 10px; */
    margin: 0 auto;
}

.signin-form .rightBox {
    background: #f3f2f4;
    height: 410px;
    width: 410px;
    margin: 0px auto;
    border: 1px solid #ffffff;
    border-radius: 6px;
}
.sign-flow{
    width: 360px;
    margin: 0px auto;
    margin-top: 120px;
}
.sign-flow .form-group.firstNone{
    margin-top: 0px;
    position: relative;
}
.sign-flow .form-group{
    /*margin-top: 8px;*/
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.sign-flow .form-group label{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 14px;
    top: 12px;
}
.sign-flow .form-group .username{
    background: url("img/IMsign.png") no-repeat -462px -52px;
}
.sign-flow .form-group .pwdIn{
    background: url("img/IMsign.png") no-repeat -470px -127px;
}
.sign-flow .form-group input{
    height: 42px;
    text-indent: 42px;
    font-size: 14px;
    width: 358px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
}
.sign-flow .form-group input:focus{
    outline: none;
    border: 1px solid #808080;
}
.sign-flow .bot{
    height: 20px;
    line-height: 12px;
    margin-top: -10px;
    position: relative;
    z-index: 1111;
}
.sign-flow .bot a{
    font-size: 14px;
    color: #808080;
    float: right;
}
.sign-flow .form-group{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.signinBox .sign-button{
    width: 360px;
    height: 46px;
    background: #30c0da !important;
    color: white !important;
    margin-top: 50px;
}
.sign-button{
    width: 108px;
    font-size: 14px;
    line-height: 32px;
    /* color: #fff; */
    /* border: 0; */
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    /* margin-top: 50px; */
    height: 32px;
}
.button-wrapper .sign-button:nth-child(1){
    background: transparent;
    border: 1px solid #30c0da;
    color: #30c0da;
    margin-right: 10px;
    border-radius: 4px;
}
.button-wrapper .sign-button:nth-child(2){
    border: 1px solid #30c0da;
    color: #30c0da;
    background: #30c0da;
    color: white;
}
.resetBox{
    height: 578px;
    width: 964px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -289px 0px 0px -482px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #e7e6eb;
}
.resetBox .step1 h2, .resetBox .step2 h2, .resetBox .step3 h2{
    font-size: 16px;
    color: #000000;
    height: 54px;
    line-height: 54px;
    text-align: left;
    text-indent: 42px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: normal;
}
.resetBox .step1Img{
     /*background: red;*/
     height: 30px;
     background: url(img/IMsign.png) no-repeat;
     background-position: 114px -188px;
     margin-top: 60px;
 }
.resetBox .step2Img{
    /*background: red;*/
    height: 30px;
    background: url(img/IMsign.png) no-repeat;
    background-position: 114px -240px;
    margin-top: 60px;
}

.resetBox .step3Img{
    /*background: red;*/
    height: 30px;
    background: url(img/IMsign.png) no-repeat;
    background-position: 114px -289px;
    margin-top: 60px;
}
.step3 .finishReset {
    height: 190px;
    width: 210px;
    margin: 0px auto;
    margin-top: 50px;
}
.step3 .finishResetImg {
    height: 150px;
    background: url("img/IMsign.png") no-repeat;
    background-position: 3px 0px;
    width: 100%;
    display: inline-block;
}
.step3 .finishResetText {
    font-size: 14px;
    color: #333333;
    margin-top: 28px;
    text-align: center;
}
.resetBox .form-group {
    position: relative;
    width: 240px;
    height: 35px;
    margin: 0px auto;
    margin-top: 80px;
}
.button-wrapper .sign-button:nth-child(1) {
    /* margin-top: 16px; */
    background: transparent;
    border: 1px solid #30c0da;
    color: #30c0da;
    margin-right: 10px;
}
.resetBox .form-inline{
    height: 210px;
    width: 420px;
    margin: 0px auto;
    margin-top: 110px;
}
.resetBox .step1 .textTitle, .resetBox .step2 .textTitle, .resetBox .step3 .textTitle{
    display: inline-block;
    width: 95px;
    height: 34px;
    line-height: 34px;
    text-align: left;
    /* border: 1px solid #e6e6e6; */
}
.resetBox .step1 input[type=text], .resetBox .step2 input[type=password], .resetBox .step3 input[type=text]{
    width: 318px;
    height: 34px;
    border: 1px solid #e6e6e6;
}
.resetBox .form-group{
    position: relative;
    width: 240px;
    height: 35px;
    margin: 0px auto;
    margin-top: 80px;
}
.ng-hide{
    display: none;
}
.chatHide{
    display: none;
}
.step3 .button-wrapper{
    margin-top: 50px !important;
    width: 110px;
}
p.SendCheakCode{
    height: 36px;
    width: 100px;
    background: #30c0da;
    position: absolute;
    right: 173px;
    top: 255px;
    line-height: 36px;
    text-align: center;
    color: white;
}